html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  font-family: "Spartan" , "Arial" , sans-serif;
}
img{
  max-width: 100%;
  height: auto;
}

/* OUTLINE STYLES*/
*:focus{
  outline: 2px solid #333;
  outline-offset: 3px;
}

/* CONTAINER */
.container{
  max-width: 1140px;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
}

/* SITENAV */
.content{
  width: 100%;
  height: 156px;
  background-image: url("img/header-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
}

/* SITE-MAIN */
.site-main{
  padding-top: 76px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* SECTIONS */
.site-main-divs{
  width: 1138px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  transform: translateX(-70px);
}
.smds-div{
  border-left: 5px solid #5ca5a5;
}
.site-main-divs-section{
  width: 1020px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.smds-section{
  width: 255px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.smdss-section-1{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.smdsss-1-h4{
  font-family: "Spartan" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #5ca5a5;
}
.smdsss-1-span{
  background: #5ca5a5;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  font-family: "Spartan" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.085px;
  text-transform: uppercase;
  color: #fff;
  padding: 6px;
}
.smdsss-1-span-2{
  background: #2b3939;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  font-family: "Spartan" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.085px;
  text-transform: uppercase;
  color: #fff;
  padding: 6px;
}
.smdss-section-2{
  width: 100%;
  margin-top: -20px;
  margin-right: auto;
}
.smdsss-2-h3{
  font-family: "Spartan" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #2b3939;
  margin-bottom: 15px;
  margin-top: 0;
}
.smdsss-section{
  width: 95%;
  margin-top: -5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.smdssss-p{
  font-family: "Spartan" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.12px;
  color: #7c8f8f;
  position: relative;
  margin-top: 0;
}
.smdssss-p:not(:last-child)::after{
  content: "";
  width: 4px;
  height: 4px;
  background: #7c8f8f;
  position: absolute;
  border-radius: 50%;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.smds-section-2{
  width: 410px;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.smdss-2-span{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background: #abe4e4;
  font-family: "Spartan" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5ca5a5;
  border-radius: 4px;
}
.smds-4{
  width: 360px;
}
.smds-6{
  width: 340px;
}
.smdsa{
  margin-right: auto;
  margin-left: 24px;
}
.smdsb{
  margin-right: 20px;
}